QPushButton {
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    border: 2px solid #4CAF50; /* Зеленая рамка */
    border-radius: 5px; /* Скругленные углы */
    padding: 5px 10px; /* Отступы внутри кнопки */
}

QPushButton:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}


QLabel {
    font-size: 16px; /* Размер шрифта */
    color: #333; /* Цвет текста */
}

